.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 285px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.cardContent {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.cardContent span,
p {
  text-align: left;
  width: 100%;
  margin: 0;
}

.cardContent p {
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
}
